body {  
    font-family: 'Poppins', sans-serif;
    /* background-color: #e7f4ff; */
    background-color: #222629;
    background-color: #990011;
    background-color: #31473A;
    background-color: #4a6163;
    background-color: #161b40;
    background-color: #205A28;
    background-color: #013018;
    background-color: #2c2b30;
}
.headx{
    /* color: #e85a4f;  */
    color: #86c232; 
    margin-bottom: 10px;
}
p{
    margin: 0px;
}
.section-header {
    text-align: center;
    padding: 10px 20px;
    margin-top: 15px;
    /* background: #f8f9fa; */
}

.main-title {
    font-size: 4rem;
    color: green;
}

.slogan {
    font-size: 1.5rem;
    color: #6c757d;
}

.number-overlay {
    font-size: 10rem;
    font-weight: bold;
    position: absolute;
    opacity: 0.5;
    z-index: -1;
    top: -130px;

}

.teacher-card img {
    max-width: 100%;
    border-radius: 5px;
}
body{
    
    /* background-color: #112d32; */

    }
    #cardbg{
    /* background-color: #f8f9fa;
    background-color: #e7f4ff; */
    /* box-shadow: inset 0 0em 0em rgba(200, 120, 0, 0.062), 0 0 0 0px white, 0.3em 0.3em 1em rgba(124, 124, 124, 0.6); */

    }
    .main-title {
        font-size: 2rem;
    }

    .slogan {
        font-size: 1rem;
    }

    .number-overlay {
        font-size: 3rem;
        top: -60px;
        left: 10px;
        /* visibility: hidden; */
    }

    section {
        /* text-align: center; */
    }

    .row .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .table {
        font-size: 0.8rem;
    }

    iframe {
        height: 300px;
    }
    .cimg{
        height: 50%;
        width: 50%;
    }
    .px{
        color: #cfcfcf !important;
    }


    .txt{
        color: #cfcfcf;
    }
    #bg{
        background-color: transparent;
       
    }
    .bg{
        background-color: transparent;
    
    }

    .shadow{
        box-shadow: #0000007a 6px 10px 20px 2px !important;
    }

/* Responsive Adjustments */
@media (max-width: 768px) {
    body{
    
    /* background-color: #112d32; */

    }
    #cardbg{
    /* background-color: #f8f9fa;
    background-color: #e7f4ff; */
    /* box-shadow: inset 0 0em 0em rgba(200, 120, 0, 0.062), 0 0 0 0px white, 0.3em 0.3em 1em rgba(124, 124, 124, 0.6); */

    }
    .main-title {
        font-size: 2rem;
    }

    .slogan {
        font-size: 1rem;
    }

    .number-overlay {
        font-size: 3rem;
        top: -60px;
        left: 10px;
        /* visibility: hidden; */
    }

    section {
        /* text-align: center; */
    }
    .teacher.uni{
        margin-bottom: 5px;
    }
    .row .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .table {
        font-size: 0.8rem;
    }

    iframe {
        height: 300px;
    }
    .px{
        color: #cfcfcf !important;
    }

    .headx{
        color: #e85a4f; 
        color: #eeeeee; 

        
        color: #86c232; 
color: #f17a7e; 
 

        text-decoration: none;
    }
    .txt{
        color: #cfcfcf;
    }
    #bg{
        background-color: transparent;
       
    }
    .bg{
        background-color: transparent;
    
    }
    .trans{
        background-color: transparent;
    
    }

    .shadow{
        box-shadow: #0000007a 6px 10px 20px 2px !important;
    }
    .number-overlay{
        color: #ffffff;
        font-size: 4rem;
        font-weight: bold;
        position: absolute;
        opacity: 0.1;
        z-index: -1;
        top: -81px;
    }

    }
    .cimg{
        height: 100%;
        width: 100%;
    }
}
