body {
    font-family: 'Poppins', sans-serif;
    background-color: #e7f4ff;
}
p{
    margin: 0px;
}
.section-header {
    text-align: center;
    padding: 10px 20px;
    margin-top: 15px;
    background: #f8f9fa;
}

.main-title {
    font-size: 3rem;
}

.slogan {
    font-size: 1.5rem;
    color: #6c757d;
}

.number-overlay {
    font-size: 6rem;
    font-weight: bold;
    color: red;
    position: absolute;
    opacity: 0.3;
    z-index: -1;
    top: -120px;

}

.teacher-card img {
    max-width: 100%;
    border-radius: 5px;
}
/* Responsive Adjustments */
@media (max-width: 768px) {
body{
  


}
#cardbg{
   background-color: #f8f9fa;
   background-color: #e7f4ff;
   /* box-shadow: inset 0 0em 0em rgba(200, 120, 0, 0.062), 0 0 0 0px white, 0.3em 0.3em 1em rgba(124, 124, 124, 0.6); */

}
    .main-title {
        font-size: 2rem;
    }

    .slogan {
        font-size: 1rem;
    }

    .number-overlay {
        font-size: 3rem;
        top: -60px;
        left: 10px;
        /* visibility: hidden; */
    }

    section {
        /* text-align: center; */
    }
.teacher.uni{
    margin-bottom: 5px;
}
    .row .col-md-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .table {
        font-size: 0.8rem;
    }

    iframe {
        height: 300px;
    }
}